@font-face {
    font-family: "Source Sans Pro";
    src: url(./assets/fonts/SourceSansPro-Regular.ttf);
  }
  @font-face {
    font-family: "Source Sans Pro - bold";
    src: url(./assets/fonts/SourceSansPro-Bold.ttf);
  }
  
  body {
    margin: 0;
    font-family: "Source Sans Pro", "Source Han Sans", sans-serif !important;
    letter-spacing: -0.05rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to right, #C5426E, #642B73);
  }
  .fixed-max-width {
    max-width: 1200px !important;
  }
  .todo-attachment-img {
    width: 100px;
    height: auto;
  }
  .h-min-content {
    height: min-content !important;
  }